/* usa este fichero para personalizar tus vistas */

/* PALETA DE COLORES */

.bg-lushaqua {
    background-color: #004466 !important;
}
.bg-oblivion {
    background-color: #000435 !important;
}
.bg-gold {
    background-color: #E4B55D !important;
}
.bg-orchid {
    background-color: #755468 !important;
}
.bg-blendieblue {
    background-color: #A9C4C4 !important;
}
.bg-abaloneshell {
    background-color: #E1DED9 !important;
}
.bg-orchid-l0 {
    background-color: hsl(324, 16%, 69%) !important;
}
.bg-abaloneshell-l0 {
    background-color: #c7c1b8 !important;
}

.fg-abaloneshell {
    color: #E1DED9 !important;
}
.fg-muted {
    color: #c7c1b8 !important;
}
.fg-blendieblue {
    color: #A9C4C4 !important;
}
.fg-gold {
    color: #E4B55D !important;
}
.fg-orchid {
    color: #755468 !important;
}
.fg-lushaqua {
    color: #004466 !important;
}
.fg-oblivion {
    color: #000435 !important;
}

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.active {
    color: #c7c1b8 !important;
    font-weight: bold;
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #E4B55D;
    transition: width 0.4s ease-out;
}


.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

.hr-swp {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #755468, #755468, #c7c1b8);
}

.hr-swp-center {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #c7c1b8, #755468, #c7c1b8);
}

.card {
    transition: all 0.2s ease;
    margin: 5px;
}

.card:hover {
    transform: scale(1.03);
}

.carousel {
    border-radius: 7px;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card a {
    margin-top: auto; /*Empuja el botón hacia abajo*/
}


/* MENSAJES */
.message {
    margin-bottom: 15px;
    max-width: 40%;
}
.message-received {
    margin-right: auto;
}
.message-sent {
    margin-left: auto;
}

/*# es para id, recordar de los selectores de css*/
#chat-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
}
#message-box {
    flex: 1;
    overflow-y: auto;
}

.border-primary {
    border-color: #755468 !important;
}

.border-secondary {
    border-color: #004466 !important;
}

.accordion-button:focus,
.accordion-button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.accordion-button.rounded-start {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
  
/* Usuario */
.user-avatar {
    width: 250px; /* Aumenta el tamaño */
    height: 300px; /* Más rectangular */
    object-fit: cover;
    border-radius: 10px; /* Esquinas redondeadas */
}

.skill-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #e2dfd9; /*fondo*/
}

.rating-star {
    color: #ffd700;
}

.rating-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: #aaa #eee;
}

.rating-container::-webkit-scrollbar {
    height: 8px;
}

.rating-container::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.rating-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    flex-shrink: 0;
}

/*Acentos al interactuar con el raton*/
.btn:focus {
    border-color: rgb(117, 84, 104);
    box-shadow: 0 0 0 0.25rem rgba(117, 84, 104, 0.25);
}

.form-control:focus {
    border-color: rgb(117, 84, 104);
    box-shadow: 0 0 0 0.25rem rgba(117, 84, 104, 0.25);
}

::selection {
    background-color: rgba(169, 196, 196, 0.9);
    color: #000435;
}

::-moz-selection {
    background-color: rgba(169, 196, 196, 0.9);
    color: #000435;
}