<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:replace="fragments/head :: header" />
		<title>Inicio | Swapify</title>
	</head>

	<body class="d-flex flex-column h-100 bg-abaloneshell">
		<header th:replace="fragments/nav.html :: nav"></header>
		<main class="flex-shrink-0">
			<div class="container">
				<h2 class="mt-4 fg-orchid bold">Usuarios recomendados</h2>
				<hr class="hr-swp">

				<h4 class="fg-orchid ms-2 mb-3">Filtrando por: </h4>
				<div class="d-flex align-items-center mb-2 bg-abaloneshell-l0 p-2 rounded-pill justify-content-between">
					<div class="d-flex align-items-center">
						<span class="fg-oblivion ms-3">Habilidades que buscas: </span>
						<div class="d-flex align-items-center row-md-8 ms-3 flex-nowrap overflow-auto">
							<!-- testeando, cuando hagamos esto con th:each ya lo terminaré  -->
							<span class="badge rounded-pill bg-lushaqua p-2 pe-3 mx-2" id="badge1">
								<i hx-get="#del" hx-target="#badge1" hx-swap="delete" class="bi bi-x fs-5 badge-cancel"></i>
								Inglés
							</span>
							
							<span class="badge rounded-pill bg-lushaqua p-2 pe-3 mx-2">
								<i class="bi bi-x fs-5 badge-cancel"></i>
								Francés
							</span>
						</div>
					</div>
					<!--
					<button class="btn bg-abaloneshell fg-oblivion bold ms-auto rounded-pill">Editar</button>
					-->
					<form>
						<input 
						type="text" 
						class="form-control rounded-pill bg-abaloneshell fg-oblivion p-2 ps-3 fg-oblivion"
						placeholder="Añadir habilidad"
						>
					</form>
				</div>

				<div class="d-flex align-items-center mb-2 bg-abaloneshell-l0 p-2 rounded-pill justify-content-between">
					<div class="d-flex align-items-center">
						<span class="fg-oblivion ms-3">Habilidades que puedes ofrecer: </span>
						<div class="d-flex align-items-center row-md-8 ms-3 flex-nowrap overflow-auto">
							<span class="badge rounded-pill bg-orchid p-2 pe-3 mx-2">
								<i class="bi bi-x fs-5 badge-cancel"></i>
								Programación en Java
							</span>
							<span class="badge rounded-pill bg-orchid p-2 pe-3 mx-2">
								<i class="bi bi-x fs-5 badge-cancel"></i>
								Diseño gráfico
							</span>
							<span class="badge rounded-pill bg-orchid p-2 pe-3 mx-2">
								<i class="bi bi-x fs-5 badge-cancel"></i>
								Edición de fotografía
							</span>
							<span class="badge rounded-pill bg-orchid p-2 pe-3 mx-2">
								<i class="bi bi-x fs-5 badge-cancel"></i>
								Cocina
							</span>
						</div>
					</div>
					<!--
					<button class="btn bg-abaloneshell fg-oblivion bold ms-auto rounded-pill">Editar</button>
					-->
					<form>
						<input 
						type="text" 
						class="form-control rounded-pill bg-abaloneshell fg-oblivion p-2 ps-3 fg-oblivion"
						placeholder="Añadir habilidad"
						>
					</form>
				</div>
				
				<div class="row flex-nowrap overflow-auto mt-4">
					<div th:each="usr : ${users}" class="col-4 card mb-3 me-3 bg-oblivion" style="max-width: 450px; height: 275px;">
						<div class="row g-0 h-100">
							<div class="col-md-4 d-flex align-items-center justify-content-center">
								<img th:src="@{'/img/pfp/'+${usr.pic}}" class="img-fluid rounded fg-abaloneshell" alt="Foto de perfil">
							</div>
							<div class="col-md-8">
								<div class="card-body p-0" style="height: 255px;">
									<div class="d-flex justify-content-between oblivion py-3 px-1">
										<!--TODO: al clicar en el nombre llevarte a su perfil -->
										<span class="card-title fg-gold bold ps-3 fs-5" th:text="${usr.firstName}">Name</span>
										<button class="btn rounded bg-abaloneshell fg-oblivion bold p-1 ms-2 text-center">Swap!</button>
									</div>
									<div class="fg-abaloneshell overflow-auto px-3">
										<p class="card-text fg-muted" th:text="${usr.description ?: 'Descripción no disponible'}">Description</p>
										<p class="card-text">
											<div class="row-md-8 mb-3">
												<span th:each="skill : ${usr.currentSkills ?: {}}" class="badge rounded-pill bg-lushaqua m-1" th:text="${skill}">Skill</span>
											</div>
											<div class="row-md-8">
												<span th:each="skill : ${usr.desiredSkills ?: {}}" class="badge rounded-pill bg-orchid me-1" th:text="${skill}">Skill</span>
											</div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2 class="mt-5 fg-orchid bold">Habilidades más pedidas</h2>
				<hr class="hr-swp">
				<div id="carouseldHabilidadesPedidasCerca" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active bg-orchid" data-bs-interval="5000" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<span class="fg-gold bold fs-1">1. Inglés</span>
							</div>
						</div>
						<div class="carousel-item bg-gold" data-bs-interval="5000" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<hspan1 class="fg-orchid bold fs-1">2. Programación</span>
							</div>
						</div>
						<div class="carousel-item bg-blendieblue" data-bs-interval="5000" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<span class="fg-lushaqua bold fs-1">3. Español</span>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouseldHabilidadesPedidasCerca" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouseldHabilidadesPedidasCerca" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="container text-center overflow-hidden mt-5">
					<div class="row gap-3 text-center skills-row">
					  	<div th:each="skill : ${desiredSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
							<span th:text="${skill}">Error</span>
					  	</div>
					</div>
					<div class="row gap-3 text-center skills-row my-3" style="animation-direction: reverse;">
						<div th:each="skill : ${desiredSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
						  	<span th:text="${skill}">Error</span>
						</div>
					</div>
					<div class="row gap-3 text-center skills-row" style="animation-delay: -50s;">
						<div th:each="skill : ${desiredSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
							<span th:text="${skill}">Error</span>
						</div>
					</div>
				</div>		  

				<h2 class="mt-5 fg-orchid bold">Otros usuarios que te podrian interesar</h2>
				<hr class="hr-swp">

				<div class="container mt-3 p-0">
					<div class="row row-cols-3 gap-3">
						<div th:each="usr : ${otherusers}" class="card bg-oblivion" style="width: 419px; height: 265px;">
							<div class="d-flex h-100">
								<div class="col-md-4 d-flex align-items-center justify-content-center">
									<img th:src="@{'/img/pfp/'+${usr.pic}}" class="img-fluid rounded" alt="Foto de perfil">
								</div>
								<div class="col-md-8">
									<div class="card-body p-0" style="height: 245px;">
										<div class="d-flex justify-content-between oblivion py-3 px-1">
											<!--TODO: al clicar en el nombre llevarte a su perfil -->
											<span class="card-title fg-gold bold ps-3 fs-5" th:text="${usr.firstName}">Name</span>
											<button class="btn rounded bg-abaloneshell fg-oblivion bold p-1 ms-2 text-center">Swap!</button>
										</div>
										<div class="fg-abaloneshell overflow-auto px-3">
											<p class="card-text fg-muted" th:text="${usr.description}">Description</p>
											<p class="card-text">
												<div class="row-md-8 mb-3">
													<span th:each="cs : ${usr.currentSkills ?: {}}" class="badge rounded-pill bg-lushaqua m-1" th:text="${cs.skill.name}">Skill</span>
												</div>
												<div class="row-md-8">
													<span th:each="ds : ${usr.desiredSkills ?: {}}" class="badge rounded-pill bg-orchid me-1" th:text="${ds.skill.name}">Skill</span>
												</div>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex align-items-center text-center">

					</div>
				</div>

				<h2 class="mt-5 fg-orchid bold">Habilidades más comunes</h2>
				<hr class="hr-swp">
				<div id="carouseldHabilidadesComunesCerca" class="carousel slide">
					<div class="carousel-inner">
						<div class="carousel-item active bg-lushaqua" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<h1 class="fg-gold bold">1. Español</h1>
							</div>
						</div>
						<div class="carousel-item bg-gold" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<h1 class="fg-oblivion bold">2. Inglés</h1>
							</div>
						</div>
						<div class="carousel-item bg-orchid" style="height: 300px;">
							<div class="d-flex justify-content-center align-items-center h-100">
								<h1 class="fg-abaloneshell bold">3. Microsoft Office</h1>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouseldHabilidadesComunesCerca" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouseldHabilidadesComunesCerca" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<div class="container my-5 text-center overflow-hidden">
					<div class="row gap-3 text-center skills-row">
					  	<div th:each="skill : ${commonSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
							<span th:text="${skill}">Error</span>
					  	</div>
					</div>
					<div class="row gap-3 text-center skills-row my-3" style="animation-direction: reverse;">
						<div th:each="skill : ${commonSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
						  	<span th:text="${skill}">Error</span>
						</div>
					</div>
					<div class="row gap-3 text-center skills-row" style="animation-delay: -50s;">
						<div th:each="skill : ${commonSkills}" class="skill-card col py-2 px-4 bg-abaloneshell-l0 align-self-center fg-oblivion align-middle rounded bold d-flex justify-content-center align-items-center" style="height: 90px;">
							<span th:text="${skill}">Error</span>
						</div>
					</div>
				</div>
			</div>
		</main>

		<th:block th:replace="fragments/footer.html :: footer" />
	</body>

</html>