<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>Mensajes | Swapify</title>
    </head>

    <body class="d-flex flex-column h-100 bg-light">
        <header th:replace="fragments/nav.html :: nav"></header>

        <main class="container-fluid">
            <div class="row">
                <div class="col-3 p-0" id="barraMensajes">
                    <div class="flex-shrink-0">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-light">
                            <div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none">
                                <h2>Mensajes</h2>
                            </div>
                            <div class="list-group list-group-flush scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-secondary">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">Juan Alberto</strong>
                                        <small>Hoy</small>
                                    </div>
                                    <div class="col-10 mb-1 small">El próximo sábado no puedo asistir al intercambio de habilidades, sorry!</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-light">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">Luis</strong>
                                        <small class="text-body-secondary">2d</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Tengo disponibilidad los martes y jueves.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-light">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">Ana</strong>
                                        <small class="text-body-secondary">2d</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Gracias por la clase de cocina vegetariana! Me encantó aprender nuevas recetas. La próxima semana comenzamos con tus clases de inglés.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-light">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">Rodrigo</strong>
                                        <small class="text-body-secondary">3d</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Te puedo ofrecer clases de pintura al óleo o acuarela también.</div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-light">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">María</strong>
                                        <small class="text-body-secondary">1sem</small>
                                    </div>
                                    <div class="col-10 mb-1 small">¿Quedamos el miércoles para continuar con las clases de yoga? Estoy muy contenta con nuestro intercambio por clases de repostería.</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 p-0">
                    <div class="container bg-purple-100">
                        <div class="py-3">
                            <h4 class="mb-0">Juan Alberto</h4>
                            <small class="text-muted">Última vez activo: Hoy 14:30</small>
                        </div>

                        <div class="flex" style="height: calc(100vh - 247px);">
                            <div class="text-end">
                                <div>
                                    <p class="mb-0">¡Hola! ¿Cómo estás?</p>
                                </div>
                                <small class="text-muted">10:30</small>
                            </div>

                            <div>
                                <div>
                                    <p class="mb-0">¡Muy bien! ¿Y tú? ¿Listo para la clase de mañana?</p>
                                </div>
                                <small class="text-muted">10:32</small>
                            </div>

                            <div class="text-end">
                                <div>
                                    <p class="mb-0">Sobre eso quería hablarte... El próximo sábado no puedo asistir al intercambio de
                                        habilidades, sorry!</p>
                                </div>
                                <small class="text-muted">10:35</small>
                            </div>

                            <div>
                                <div>
                                    <p class="mb-0">No hay problema, ¿te parece si lo reagendamos para la siguiente semana?</p>
                                </div>
                                <small class="text-muted">10:36</small>
                            </div>
                        </div>

                        <div>
                            <form class="d-flex gap-2 pb-4">
                                <input type="text" class="form-control bg-light" placeholder="Escribe un mensaje...">
                                <button type="submit" class="btn bg-primary text-white">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <th:block th:replace="fragments/footer.html :: footer" />
    </body>

</html>