<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Recompensas | Swapify</title>
</head>

<body class="d-flex flex-column h-100 bg-light">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center m-3">
                <div>
                    <h2 class="mb-0 bold fg-orchid">¡Canjea tus Swapicoins por increíbles recompensas!</h2>
                    <small class="text-muted">... o usalas para para aprender habilidades sin necesidad de hacer un
                        intercambio</small>
                </div>

                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img src="/img/rewards/Coin.png" style="width: 75px; height: 75px;" alt="moneda">
                    </div>
                    <div class="d-flex flex-column fg-oblivion text-end">
                        <div class="mb-2">
                            <p class="mb-0">Swapicoins</p>
                        </div>
                        <div>
                            <h2 class="mt-0 bold">256</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-swp">

        <div class="container">
            <div class="row gy-4 mb-4">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <div class="m-5">
                            <img src="/img/rewards/Apple.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Tarjeta de regalo de Apple de 5€</h5>
                            <p class="card-text">Canjea tus Swapicoins por tarjetas de regalo de Apple y disfruta de
                                aplicaciones, música, películas y
                                más en la App Store.</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>1.500 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalApple">Canjear</button>
                        </div>
                    </div>
                </div>


                <!-- MODAL Apple -->
                <div class="modal fade" id="modalApple" tabindex="-1" aria-labelledby="modalAppleLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <div class="m-5">
                            <img src="/img/rewards/Google Play.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">3€ de saldo de Google Play</h5>
                            <p class="card-text">Canjea tus Swapicoins por saldo en Google Play y accede a miles de
                                aplicaciones, juegos, películas y
                                más. ¡Disfruta del mejor contenido digital a tu manera!</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>600 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalGooglePlay">Canjear</button>

                        </div>
                    </div>
                </div>


                <!-- MODAL Google Play -->
                <div class="modal fade" id="modalGooglePlay" tabindex="-1" aria-labelledby="modalGooglePlayLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <div class="m-5">
                            <img src="/img/rewards/Microsoft.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Tarjeta de regalo Microsoft de 5€</h5>
                            <p class="card-text">Usa tus Swapicoins para conseguir tarjetas de regalo de Microsoft y compra
                                software, juegos,
                                suscripciones a Xbox Game Pass y mucho más.</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>2.500 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalMicrosoft">Canjear</button>
                        </div>
                    </div>
                </div>

                <!-- MODAL Microsoft -->
                <div class="modal fade" id="modalMicrosoft" tabindex="-1" aria-labelledby="modalMicrosoftLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <img src="/img/rewards/Spotify.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">1 mes de Spotify Premium</h5>
                            <p class="card-text">Convierte tus Swapicoins en meses de suscripción premium en Spotify y
                                disfruta de tu música favorita
                                sin anuncios, con reproducción offline y en la mejor calidad.</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>1.000 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalSpotify">Canjear</button>
                        </div>
                    </div>
                </div>

                <!-- MODAL Spotify -->
                <div class="modal fade" id="modalSpotify" tabindex="-1" aria-labelledby="modalSpotifyLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <div class="m-5">
                            <img src="/img/rewards/Commodore64.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Sorteo teclado Commodore 64</h5>
                            <p class="card-text">¿Eres fanático de la informática retro? Participa en el sorteo de un
                                exclusivo teclado inspirado
                                en el legendario Commodore 64 y revive la era dorada de los videojuegos.</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>100 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalCommodore64">Canjear</button>
                        </div>
                    </div>
                </div>

                <!-- MODAL Commodore64 -->
                <div class="modal fade" id="modalCommodore64" tabindex="-1" aria-labelledby="modalCommodore64Label"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <div class="m-4">
                            <img src="/img/rewards/Ps5.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Sorteo Ps5</h5>
                            <p class="card-text">Participa en el sorteo de una PlayStation 5 y disfruta de la última
                                generación de consolas!</p>

                            <div class="mt-auto text-cente mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>200 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalPs5">Canjear</button>
                        </div>
                    </div>
                </div>

                <!-- MODAL Ps5 -->
                <div class="modal fade" id="modalPs5" tabindex="-1" aria-labelledby="modalPs5Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-abaloneshell-l0" style="width: 18rem;">
                        <img src="/img/rewards/Unicef.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Dona 1€ a Unicef</h5>
                            <p class="card-text">Dona 1€ a UNICEF con tus Swapicoins y contribuye a proyectos humanitarios que
                                ayudan a niños en situación de
                                vulnerabilidad en todo el mundo. ¡Tu ayuda marca la diferencia!</p>

                            <div class="mt-auto text-center mb-3">
                                <p class="card-text text-center text-primary mt-auto"> <b>300 Swapicoins</b> </p>
                            </div>
                            <button type="button" class="btn bg-orchid fg-abaloneshell bold" data-bs-toggle="modal"
                                data-bs-target="#modalUnicef">Canjear</button>
                        </div>
                    </div>
                </div>

                <!-- MODAL Unicef -->
                <div class="modal fade" id="modalUnicef" tabindex="-1" aria-labelledby="modalUnicefLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center bg-abaloneshell-l0  rounded">
                                <div class="mb-3 fg-oblivion" style="font-size: larger;">
                                    ¿Estás seguro de canjear este artículo?
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn bg-abaloneshell fg-orchid bold me-3"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn fg-abaloneshell bg-orchid bold"
                                        data-bs-dismiss="modal">Canjear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>