<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Recompensas | Swapify</title>
</head>

<body class="d-flex flex-column h-100 bg-light">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center m-3">
              <div>
                <h3 class="mb-0 bold fg-orchid">¡Canjea tus monedas por increíbles recompensas!</h3>
                <small class="text-muted">... o usalas para para aprender habilidades sin necesidad de hacer un intercambio</small>
              </div>
              
              <div class="d-flex align-items-center">
                <div class="me-3">
                  <img src="/img/rewards/Coin.png" style="width: 75px; height: 75px;" alt="Moneda">
                </div>
                <div class="d-flex flex-column">
                  <div class="mb-2">
                    <p class="mb-0">Monedas</p>
                  </div>
                  <div>
                    <h3 class="mt-0">256</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <hr class="hr-swp">

        <div class="container">
            <div class="row gy-4 mb-4">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Apple.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Apple</h5>
                            <p class="card-text">Canjea tus puntos por tarjetas de regalo de Apple y disfruta de aplicaciones, música, películas y más en la App Store.</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Google Play.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Google Play</h5>
                            <p class="card-text">Canjea tus puntos por saldo en Google Play y accede a miles de aplicaciones, juegos, películas y más. ¡Disfruta del mejor contenido digital a tu manera!</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Microsoft.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Microsoft</h5>
                            <p class="card-text">Usa tus puntos para conseguir tarjetas de regalo de Microsoft y compra software, juegos, suscripciones a Xbox Game Pass y mucho más.</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Spotify.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Spotify</h5>
                            <p class="card-text">Convierte tus puntos en meses de suscripción premium en Spotify y disfruta de tu música favorita sin anuncios, con reproducción offline y en la mejor calidad.</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Commodore64.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Sorteo teclado Commodore 64</h5>
                            <p class="card-text">¿Eres fanático de la informática retro? Participa en el sorteo de un exclusivo teclado inspirado en el legendario Commodore 64 y revive la era dorada de los videojuegos.</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Ps5.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Sorteo Ps5</h5>
                            <p class="card-text">Participa en el sorteo de una PlayStation 5 y disfruta de la última generación de consolas!</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 bg-blendieblue" style="width: 18rem;">
                        <img src="/img/rewards/Unicef.png" class="card-img-top" alt="...">
                        <div class="card-body fg-oblivion">
                            <h5 class="card-title bold">Dona a Unicef</h5>
                            <p class="card-text">Dona tus puntos a UNICEF y contribuye a proyectos humanitarios que ayudan a niños en situación de vulnerabilidad en todo el mundo. ¡Tu ayuda marca la diferencia!</p>
                            <a href="#" class="btn bg-primary text-white">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>