<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/head :: header" />
        <title> Search | Swapify</title>
    </head>

    <body class="d-flex flex-column h-100 bg-light">
        <header th:replace="fragments/nav.html :: nav"></header>

        <main class="flex-shrink-0">
            <div class="container">
                <form class="form-signin" method="get" th:action="@{/search}">
                    <h2
                        class="mt-4 form-signin-heading fg-orchid bold">Resultados
                        de "<span th:text="${param.query}">x</span>"</h2>
                    <div class="hr-swp mb-3"></div>
                </form>

                <!-- Nueva barra de búsqueda -->

                <div class="bg-abaloneshell-l0 rounded p-4">
                    <form class="form-signin" method="get"
                        th:action="@{/search}">

                        <div class="search-bar d-flex">
                        </button>
                        <input type="text"
                            class="form-control rounded-pill bg-abaloneshell fg-oblivion p-3 me-4"
                            name="query"
                            placeholder="Buscar de nuevo en Swapify"
                            aria-label="Buscar de nuevo en Swapify"
                            required="required">

                        <button
                            type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false"
                            aria-controls="filterCollapse"
                            class="btn bg-lushaqua fg-abaloneshell bold rounded-pill d-flex p-3 me-2">
                            <i class="bi bi-funnel-fill me-1"></i> Filtros
                        </button>

                        <button
                            class="btn bg-orchid fg-abaloneshell bold rounded-pill d-flex p-3"
                            type="submit">
                            <i class="bi bi-search me-1"></i> Buscar
                        </button>
                    </div>

                    <div class="collapse" id="filterCollapse">
                        <div class="container p-3 m-3 bg-abaloneshell rounded" style="width: 77%;">
                            <span class="fs-4 fg-lushaqua mb-3">Buscar en ...</span>

                            <div class="form-check mb-3">
                                <input class="form-check-input bg-lushaqua" type="checkbox" id="userFilterCheckbox" checked>
                                <label class="form-check-label fg-oblivion" for="userFilterCheckbox">
                                    Buscar usuarios
                                </label>
                            </div>

                            <div class="bg-abaloneshell m-3 p-3 pt-0 rounded" id="userFilters">
                                <span class="fs-5 fg-lushaqua">Filtros de usuario</span>
                                <div class="form-check">
                                    <input class="form-check-input bg-lushaqua" type="checkbox" value id="nameCheckbox" checked>
                                    <label class="form-check-label fg-oblivion" for="nameCheckbox">
                                        Por nombre de usuario
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input bg-lushaqua" type="checkbox" value id="descCheckbox">
                                    <label class="form-check-label fg-oblivion" for="descCheckbox">
                                        Por descripción
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input bg-lushaqua" type="checkbox" value id="currentSkillsCheckbox" checked>
                                    <label class="form-check-label fg-oblivion" for="currentSkillsCheckbox">
                                        Por habilidades actuales
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input bg-lushaqua" type="checkbox" value id="desiredSkillsCheckbox" checked>
                                    <label class="form-check-label fg-oblivion" for="desiredSkillsCheckbox">
                                        Por habilidades deseadas
                                    </label>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input bg-lushaqua" type="checkbox" value id="skillFilterCheckbox" checked>
                                <label class="form-check-label fg-oblivion" for="skillFilterCheckbox">
                                    Buscar habilidades
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div>

                    <div class="p-3 fg-orchid">
                        <h3 class="bold">Usuarios</h3>
                        <div class="hr-swp"></div>
                        <span class="fg-orchid fs-5 mt-3">No se encontraron resultados</span>
                    </div>

                    <div class="p-3 fg-orchid">
                        <h3 class="bold">Habilidades</h3>
                        <div class="hr-swp"></div>
                        <span class="fg-orchid fs-5 mt-3">No se encontraron resultados</span>
                    </div>
                </div>
            </div>

        </main>

        <th:block th:replace="fragments/footer.html :: footer" />
    </body>

</html>