<div>
  <form id="signupStep2Form" class="form-signup" th:action="@{/signupstep2}" method="POST"
    onsubmit="añadirDatosPaso1()">
    <h2 class="form-signin-heading fg-orchid bold mb-3 text-center">Introduzca sus datos</h2>


    <input type="hidden" id="firstNameHidden" name="firstName">
    <input type="hidden" id="lastNameHidden" name="lastName">
    <input type="hidden" id="emailHidden" name="email">
    <input type="hidden" id="passwordHidden" name="password">

    <div class="mx-5 mb-4">
      <label for="fileUpload" class="custom-file-label bg-lushaqua fg-abaloneshell p-2 px-3 rounded-pill">Subir foto de perfil</label>
      <input type="file" id="fileUpload" class="inputfile">
    </div>

    <div class="mx-5 mb-4">
      <label for="userDescriptionInput" class="fg-oblivion">Descripción</label>
      <textarea id="userDescriptionInput" class="form-control bg-abaloneshell rounded p-3"
        placeholder="Escribe una descripción sobre ti mismo" style="height: 150px;"></textarea>
    </div>


    <div class="text-center mt-4">
      <button class="btn btn-lg bg-orchid fg-abaloneshell bold rounded-pill me-3" type="submit">
        Siguiente 
        <i class="bi bi-caret-right-fill"></i>
      </button>
    </div>

  </form>
</div>
<script>
  function añadirDatosPaso1() {
    document.getElementById("firstNameHidden").value = sessionStorage.getItem("firstName");
    document.getElementById("lastNameHidden").value = sessionStorage.getItem("lastName");
    document.getElementById("emailHidden").value = sessionStorage.getItem("email");
    document.getElementById("passwordHidden").value = sessionStorage.getItem("password");
  }
</script>