<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>Intercambios | Swapify</title>
    </head>

    <body class="d-flex flex-column h-100 bg-abaloneshell" style="overflow-x: hidden" id="swapbody">
        <header th:replace="fragments/nav.html :: nav"></header>

        <main class="container-fluid m-3">
            <div class="row me-3">
                <div class="col-3 p-0" id="barraMensajes">
                    <div class="flex-shrink-0">
                        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-abaloneshell-l0 rounded">

                            <h2 class="bold fg-orchid p-3 text-center">Swaps</h2>

                            <div class="accordion accordion-flush" id="accordionSwaps">
                                <div class="accordion-item bg-abaloneshell fg-orchid">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button bg-abaloneshell-l0 fg-orchid bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseActives"
                                            aria-expanded="true" aria-controls="collapseActives">
                                            Activos
                                        </button>
                                    </h2>
                                    <div id="collapseActives" class="accordion-collapse collapse show" data-bs-parent="#accordionSwaps">
                                        <div class="accordion-body p-0 m-0 bg-abaloneshell-l0">
                                            <div class="list-group list-group-flush scrollarea overflow-y">
                                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-abaloneshell">
                                                    <div class="d-flex w-100 align-items-center justify-content-between mb-2">
                                                        <strong class="mb-1">Inglés - Java</strong>
                                                        <small>Hoy</small>
                                                    </div>
                                                    <span class="badge rounded-pill bg-lushaqua p-2 me-2">Inglés</span>
                                                    <span class="badge rounded-pill bg-orchid p-2 me-2">Programación en Java</span>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-abaloneshell-l0">
                                                    <div class="d-flex w-100 align-items-center justify-content-between mb-2">
                                                        <strong class="mb-1">Francés - Java</strong>
                                                        <small class="text-body-secondary">2d</small>
                                                    </div>
                                                    <span class="badge rounded-pill bg-lushaqua p-2 me-2">Francés</span>
                                                    <span class="badge rounded-pill bg-orchid p-2 me-2">Programación en Java</span>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm bg-abaloneshell-l0">
                                                    <div class="d-flex w-100 align-items-center justify-content-between mb-2">
                                                        <strong class="mb-1">Programación web - Cocina italiana</strong>
                                                        <small class="text-body-secondary">3d</small>
                                                    </div>
                                                    <span class="badge rounded-pill bg-lushaqua p-2 me-2">Programación Web</span>
                                                    <span class="badge rounded-pill bg-orchid p-2 me-2">Cocina italiana</span>
                                                </a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <h2 class="accordion-header bg-abaloneshell">
                                        <button class="accordion-button bg-abaloneshell-l0 fg-orchid bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinished"
                                            aria-expanded="false" aria-controls="collapseFinished">
                                            Pendientes
                                        </button>
                                    </h2>
                                    <h2 class="accordion-header bg-abaloneshell">
                                        <button class="accordion-button bg-abaloneshell-l0 fg-orchid bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinished"
                                            aria-expanded="false" aria-controls="collapseFinished">
                                            Terminados
                                        </button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 pe-0">
                    <div class="container bg-abaloneshell pe-0" id="chat-container">
                        <div class="fg-gold bold bg-orchid p-3 rounded" id="">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h4 class="mb-0 bold">Inglés - Java</h4>
                                    <span class="badge rounded-pill bg-abaloneshell fg-orchid p-2 ms-3 mb-4">Inglés</span>
                                    <span class="badge rounded-pill bg-abaloneshell fg-lushaqua p-2 ms-3 mb-4">Programación en Java</span>
                                </div>
                                <div>
                                    <button 
										hx-get="/swaps/info"
										hx-target="#chat-container"
										hx-swap="innerHTML"
										class="btn fg-gold bg-orchid p-0 me-2 border-0 shadow-none">
                                        <i class="bi bi-info-circle-fill fg-gold bg-orchid fs-4"></i>
                                    </button>
                                </div>
                            </div>
                            <h5 class="mb-3 mt-1 fg-abaloneshell">con Juan Alberto</h5>
                            <small class="fg-abaloneshell">Última vez activo: Hoy 14:30</small>
                        </div>

                        <div id="message-box">
                            <div style="height: 400px"></div>
                            <div class="hr-swp my-4 fg-orchid">11/02/2025</div>
                            <div class="text-end bg-blendieblue fg-lushaqua p-3 rounded message message-sent me-3">
                                <div>
                                    <p class="mb-0">¡Hola! ¿Cómo estás?</p>
                                </div>
                                <small class="text-muted">10:30</small>
                            </div>

                            <div class="fg-lushaqua bg-abaloneshell-l0 p-3 rounded message message-recieved ms-3">
                                <div>
                                    <p class="mb-0">¡Muy bien! ¿Y tú? ¿Listo para la clase de mañana?</p>
                                </div>
                                <small class="text-muted">10:32</small>
                            </div>

                            <div class="text-end bg-blendieblue fg-lushaqua p-3 rounded message message-sent me-3">
                                <div>
                                    <p class="mb-0">Sobre eso quería hablarte... El próximo sábado no puedo asistir al intercambio de
                                        habilidades</p>
                                </div>
                                <small class="text-muted">10:35</small>
                            </div>
                            <div class="text-end bg-blendieblue fg-lushaqua p-3 rounded message message-sent me-3">
                                <div>
                                    <p class="mb-0">Perdón!</p>
                                </div>
                                <small class="text-muted">10:35</small>
                            </div>

                            <div class="fg-lushaqua bg-abaloneshell-l0 p-3 rounded message message-recieved ms-3">
                                <div>
                                    <p class="mb-0">No hay problema, ¿te parece si lo reagendamos para la siguiente semana?</p>
                                </div>
                                <small class="text-muted">10:36</small>
                            </div>

                            <div class="text-end bg-blendieblue fg-lushaqua p-3 rounded message message-sent me-3">
                                <div>
                                    <p class="mb-0">Me parece bien.</p>
                                </div>
                                <small class="text-muted">10:37</small>
                            </div>

                            <div class="text-end bg-blendieblue fg-lushaqua p-3 rounded message message-sent me-3">
                                <div>
                                    <p class="mb-0">Nos vemos el próximo martes entonces.</p>
                                </div>
                                <small class="text-muted">10:37</small>
                            </div>
                        </div>
                        <div>
                            <form class="d-flex pb-2">
                                <input type="text" class="form-control bg-abaloneshell-l0 rounded-pill m-2 p-3" placeholder="Escribe un mensaje...">
                                <button type="submit" class="btn bg-orchid fg-abaloneshell rounded-pill m-2 p-3">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <th:block th:replace="fragments/footer.html :: footer" />
    </body>

</html>
