<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Perfil de Usuario | Swapify</title>
</head>

<body class="d-flex flex-column h-100 bg-abaloneshell rounded">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container bg-abaloneshell-l0 p-4 mt-4 rounded">
            <div class="row">
                <div class="col-md-3">
                    <img th:src="'/img/pfp/' + ${user.pic}" alt="Foto de perfil" style="height: 500px;"
                        class="rounded border border-secondary border-4">
                </div>

                <div class="col-md-9 fg-oblivion">
                    <div class="overflow-auto rounded" style="height: 500px;">
                        <div class="sticky-top bg-abaloneshell-l0">
                            <h2 class="fg-oblivion bold mb-1" th:text="${user.firstName} + ' ' + ${user.lastName}">
                                Nombre por defecto</h2>
                            <span class="fg-oblivion fs-6" th:text="|@| + ${user.username}">@Defecto</span>

                            <hr class="hr-swp my-3">
                        </div>
                        <div class="bg-abaloneshell rounded p-3">
                            <h4 class="fg-oblivion bold mb-3">Descripción</h4>
                            <p class="mb-0" th:text="${user.description}">Descrición por defecto</p>
                            <h4 class="fg-oblivion bold my-3">Resumen de habilidades</h4>

                            <h5 class="fg-lushaqua my-3">Habilidades actuales (dispuesto a enseñar):</h5>

                            <span th:each="currentSkill : ${currentSkills}">
                                <span class="badge rounded-pill bg-lushaqua mx-1 p-2" th:text="${currentSkill.name}">Por
                                    defecto</span>
                            </span>

                            <h5 class="fg-orchid my-3">Habilidades que quiero aprender: </h5>

                            <span th:each="desiredSkill : ${desiredSkills}">
                                <span class="badge rounded-pill bg-lushaqua mx-1 p-2" th:text="${desiredSkill.name}">Por
                                    defecto</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <h2 class="fg-oblivion bold mt-3">Habilidades</h2>
            <hr class="hr-swp">

            <h3 class="fg-lushaqua bold my-4">Habilidades a enseñar</h3>
            <div class="bg-abaloneshell rounded mb-4 fg-oblivion">
                <div class="d-flex flex-column p-3">

                    <div th:each="currentSkill : ${currentSkills}">
                        <h5 class="fg-lushaqua bold rounded-pill me-3" th:text="${currentSkill.name}">Defecto
                        </h5>

                        <p th:text="${currentSkill.description}">Defecto</p>
                        <h5 class="fg-lushaqua bold me-3">Reseñas</h5>
                        <div class="mb-4">
                            <span class="fg-oblivion bold">Valoración promedio:</span>
                            <span class="bg-abaloneshell-l0 fg-oblivion rounded-circle bold ms-3 p-3 fs-6"
                                th:text="${currentSkill.rating}">defecto</span>
                        </div>

                        <span>Reseñas recientes:</span>
                        <span class="hr-swp mt-2 mb-3"></span>
                        <div class="container text-center">
                            <div class="row gap-3">
                                <div class="col card bg-oblivion fg-abaloneshell text-start p-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5 class="card-header fg-gold bold">Juan Alberto</h5>
                                            <div class="d-flex my-2">
                                                <span class="badge rounded-pill bg-lushaqua mx-2 p-2">Diseño
                                                    gráfico</span>
                                                <i class="bi bi-arrow-left-right fg-abaloneshell"></i>
                                                <span class="badge rounded-pill bg-orchid mx-2 p-2">Desarrollo
                                                    web</span>
                                            </div>
                                        </div>
                                        <span class="fg-abaloneshell bold ms-3 p-3 fs-2">9.1</span>
                                    </div>

                                    <div class="card-body">
                                        <p class="card-text">Un gran profesor! nuestro intercambio fue muy
                                            fructífero. Espero tener el placer de realizar más swaps con el.</p>
                                    </div>
                                </div>

                                <div class="col card bg-oblivion fg-abaloneshell text-start p-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5 class="card-header fg-gold bold">Ana</h5>
                                            <div class="d-flex my-2">
                                                <span class="badge rounded-pill bg-lushaqua mx-2 p-2">Diseño
                                                    gráfico</span>
                                                <i class="bi bi-arrow-left-right fg-abaloneshell"></i>
                                                <span class="badge rounded-pill bg-orchid mx-2 p-2">Yoga</span>
                                            </div>
                                        </div>
                                        <span class="fg-abaloneshell bold ms-3 p-3 fs-2">8.9</span>
                                    </div>

                                    <div class="card-body">
                                        <p class="card-text">Tiene una gran habilidad con el diseño gráfico. Un
                                            profesor muy recomendable.</p>
                                    </div>
                                </div>

                                <div class="col card bg-oblivion fg-abaloneshell text-start p-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5 class="card-header fg-gold bold">Luis</h5>
                                            <div class="d-flex my-2">
                                                <span class="badge rounded-pill bg-lushaqua mx-2 p-2">Diseño
                                                    gráfico</span>
                                                <i class="bi bi-arrow-left-right fg-abaloneshell"></i>
                                                <span class="badge rounded-pill bg-orchid mx-2 p-2">Guitarra</span>
                                            </div>
                                        </div>
                                        <span class="fg-abaloneshell bold ms-3 p-3 fs-2">8.7</span>
                                    </div>

                                    <div class="card-body">
                                        <p class="card-text">Es un asombroso prfesor de diseño gráfico. Nunca había
                                            aprendido tanto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <h3 class="fg-orchid bold my-4">Habilidades por aprender</h3>

            <div th:each="desiredSkill : ${desiredSkills}">
                <div class="d-flex flex-column p-3">
                    <h5 class="fg-orchid bold rounded-pill me-3" th:text="${desiredSkill.name}">Por defecto</h5>
                    <p th:text="${desiredSkill.description}">Por defecto</p>
                </div>
            </div>


        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer">
</body>

</html>