<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:text="${'Perfil de ' + user.firstName + ' | Swapify'}">Perfil de Usuario | Swapify</title>
</head>

<body class="d-flex flex-column h-100 bg-abaloneshell rounded">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container bg-abaloneshell-l0 p-4 mt-4 rounded">
            <div class="row">
                <div class="col-md-3">
                    <img th:src="'/img/pfp/' + ${user.pic}" alt="Foto de perfil" style="height: 500px;"
                        class="rounded border border-secondary border-4">
                </div>

                <div class="col-md-9 fg-oblivion">
                    <div class="overflow-auto rounded" style="height: 500px;">
                        <div class="sticky-top bg-abaloneshell-l0">
                            <h2 th:id="${'name' + user.username}" class="fg-oblivion bold mb-1" th:text="${user.firstName} + ' ' + ${user.lastName}">
                                Nombre por defecto</h2>
                            <span class="fg-oblivion fs-6" th:text="|@| + ${user.username}">@Defecto</span>

                            <hr class="hr-swp my-3">
                        </div>
                        <div class="bg-abaloneshell rounded p-3">
                            <h4 class="fg-oblivion bold mb-3">Descripción</h4>
                            <p class="mb-0" th:text="${user.description}">Descrición por defecto</p>
                            <h4 class="fg-oblivion bold my-3">Resumen de habilidades</h4>

                            <h5 class="fg-lushaqua my-3">Habilidades actuales (dispuesto a enseñar):</h5>
                            <span th:each="currentSkill : ${currentSkills}">
                                <span class="badge rounded-pill bg-lushaqua mx-1 p-2"
                                    th:text="${currentSkill.skill.name}">Por
                                    defecto</span>
                            </span>

                            <h5 class="fg-orchid my-3">Habilidades que quiero aprender: </h5>
                            <span th:each="desiredSkill : ${desiredSkills}">
                                <span class="badge rounded-pill bg-orchid mx-1 p-2"
                                    th:text="${desiredSkill.skill.name}">Por
                                    defecto</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <h2 class="fg-oblivion bold mt-3">Habilidades</h2>
            <hr class="hr-swp">

            <h3 class="fg-lushaqua bold my-4">Habilidades a enseñar</h3>
            <div class="d-flex flex-column p-3">

                <div th:each="currentSkill : ${currentSkills}">
                    <div class="bg-abaloneshell rounded p-3 mb-4 fg-oblivion">
                        <h5 class="fg-lushaqua bold rounded-pill me-3" th:text="${currentSkill.skill.name}">Defecto</h5>

                        <p th:text="${currentSkill.description}">Defecto</p>
                        <h5 class="fg-lushaqua bold me-3">Reseñas</h5>
                        <div class="mb-4">
                            <span class="fg-oblivion bold">Valoración promedio:</span>
                            <span th:id="${averageRating + currentSkill.skill.name}" class="bg-abaloneshell-l0 fg-oblivion rounded-circle bold ms-3 p-3 fs-6" th:text="${currentSkill.averageRating}">0.0</span>
                        </div>

                        <span>Reseñas recientes:</span>
                        <span class="hr-swp mt-2 mb-3"></span>
                        <div class="container text-center" style="max-height: 300px; overflow-y: auto;">
                            <div class="row gap-3">
                                <div th:each="review : ${reviewsBySkill.get(currentSkill.id)}" 
                                     class="col-12 card bg-oblivion fg-abaloneshell text-start p-3">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5 th:text="${review.userName}">Nombre</h5>
                                            <div class="d-flex flex-wrap my-2">
                                                <span class="badge rounded-pill bg-lushaqua mx-2 p-2" th:text="${review.skillA}">Habilidad A</span>
                                                <i class="bi bi-arrow-left-right fg-abaloneshell"></i>
                                                <span class="badge rounded-pill bg-orchid mx-2 p-2" th:text="${review.skillB}">Habilidad B</span>
                                            </div>
                                            <p class="card-text" th:text="${review.text}">Comentario</p>
                                        </div>
                                        <div>
                                            <span class="badge rounded-pill bg-lushaqua p-2" th:text="${review.rating}">5.0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <h3 class="fg-orchid bold my-4">Habilidades por aprender</h3>
            <div class="m-3">
                <div th:each="desiredSkill : ${desiredSkills}">
                    <div class="bg-abaloneshell rounded p-3 mb-4 fg-oblivion">

                        <div class="d-flex flex-column p-3">
                            <h5 class="fg-orchid bold rounded-pill me-3" th:text="${desiredSkill.skill.name}">Por
                                defecto
                            </h5>
                            <p th:text="${desiredSkill.description}">Por defecto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer">
</body>

</html>